@font-face {
  font-family: 'pc_iconfont';  /* project id 960923 */
  src: url('//at.alicdn.com/t/font_960923_8w380bo2q15.eot');
  src: url('//at.alicdn.com/t/font_960923_8w380bo2q15.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_960923_8w380bo2q15.woff') format('woff'),
  url('//at.alicdn.com/t/font_960923_8w380bo2q15.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_960923_8w380bo2q15.svg#pc_iconfont') format('svg');
}