@font-face {
  font-family: 'iconfont';  /* project id 1128318 */
  src: url('//at.alicdn.com/t/font_1128318_w6fzv0exhl.eot');
  src: url('//at.alicdn.com/t/font_1128318_w6fzv0exhl.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1128318_w6fzv0exhl.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1128318_w6fzv0exhl.woff') format('woff'),
  url('//at.alicdn.com/t/font_1128318_w6fzv0exhl.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1128318_w6fzv0exhl.svg#iconfont') format('svg');
}