@font-face {
  font-family: 'iconfont';  /* project id 1128318 */
  src: url('//at.alicdn.com/t/font_1128318_omuk32k9jn.eot');
  src: url('//at.alicdn.com/t/font_1128318_omuk32k9jn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1128318_omuk32k9jn.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1128318_omuk32k9jn.woff') format('woff'),
  url('//at.alicdn.com/t/font_1128318_omuk32k9jn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1128318_omuk32k9jn.svg#iconfont') format('svg');
}